<html>
<head>
    <title>Portland Food Carts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">Portland Food Carts</h1>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="title">{{ cuisine.getType }}</h1>
            </div>
            <div class="panel-body">
                {% if carts is not empty %}
                    {% for cart in carts %}
                        <div class="col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{ cart.getName }}</h2>
                                </div>
                                <div class="panel-body text-center">
                                    <h2>{{ cart.getUrl }}</h2>
                                    <h2>{{ cart.getStreet }}</h2>
                                    <h2>{{ cart.getCity }}, {{ cart.getState }} {{ cart.getZip }}</h2>
                                    <h2>{{ cart.getPhone }}</h2>
                                </div>
                            </div>

                        </div>


                    {% endfor %}

                {% endif %}

            </div>
        </div>





        <h4>Add a Cart</h4>

        <form action='/carts' method='post'>
            <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
            <label for='name'>Cart Name</label>
            <input id='name' name='name' type='text'>
            <label for='street'>Street</label>
            <input id='street' name='street' type='text'>
            <label for='city'>City</label>
            <input id='city' name='city' type='text'>
            <label for='state'>State</label>
            <input id='state' name='state' type='text'>
            <label for='zip'>Zip Code/label>
                <input id='zip' name='zip' type='number'>
                <label for='phone'>Phone Number</label>
                <input id='phone' name='phone' type='text'>
                <label for='url'>Web Address</label>
                <input id='url' name='url' type='text'>

                <button type='submit'>Add Cart</button>
            </form>
            <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this Cuisine</a></p>
            <p><a href='/'>Home</a></p>
    </div>

</body>
</html>
